nav{
    text-align: center;
    background: aqua url(../img/nav_wood_texture.jpg);
    padding:0;
    height: 100%;
}
nav ul{
    display: inline-block;
    list-style: none
}
nav li{
    display: inline;
    padding: 1em 2em;
    margin: 0.5em;
    background-color: #8C4511;
    background-image: url(../img/nav_menu-item.jpg);
	background-size: 7em; 
}
nav a{
    text-decoration: none;
    padding: .5em 3em;
    text-transform: uppercase;
    color: white;    
}
